language: generic

services:
  - docker

before_script:
  # Log in to Docker Hub using credentials stored in Travis environment variables
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  # Build Docker images for each service
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend
  - docker build -t udagram-reverseproxy ./udagram-reverseproxy

  # Tag the Docker images
  - docker tag udagram-api-feed azeemahraji/udagram-api-feed:v1
  - docker tag udagram-api-user azeemahraji/udagram-api-user:v1
  - docker tag udagram-frontend azeemahraji/udagram-frontend:v1
  - docker tag udagram-reverseproxy azeemahraji/udagram-reverseproxy:v1

after_success:
  # Push the Docker images to Docker Hub
  - docker push azeemahraji/udagram-api-feed:v1
  - docker push azeemahraji/udagram-api-user:v1
  - docker push azeemahraji/udagram-frontend:v1
  - docker push azeemahraji/udagram-reverseproxy:v1
