apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-user-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-user
  template:
    metadata:
      labels:
        app: backend-user
    spec:
      containers:
        - name: backend-user
          image: azeemahraji/udagram-api-user:v1
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: env-config
            - secretRef:
                name: postgres-secrets
            - secretRef:
                name: aws-secrets
